[init]
        defaultBranch = main
[user]
	email = 36055140+KhoTeru@users.noreply.github.com
	name = Teru
	signingkey = F41E371BCC35EC77
[core]
	editor = nvim
[color]
	ui = true
[commit]
	gpgsign = true
[tag]
	gpgSign = true
