[init]
        defaultBranch = main
[user]
	email = aospino@proton.me
	name = Teru
	signingkey = F41E371BCC35EC77
[core]
	editor = nvim
[color]
	ui = true
[commit]
	gpgsign = true
[tag]
	gpgSign = true
