# Use sudo with other aliases
alias sudo="sudo "

# Replace ls with eza
alias ls="eza --color=always --icons=auto --sort=type"
alias la="eza -aa --color=always --icons=auto --sort=type"
alias ll="eza -lg --color=always --icons=auto --sort=type"
alias lla="eza -laag --color=always --icons=auto --sort=type"

# Neovim
alias v="nvim"
alias vn="vd $XDG_CONFIG_HOME/nvim"
alias vz="vd $ZDOTDIR"
alias n="nvim -c 'Neorg workspace main'"

# Kitty
alias kdiff="kitty +kitten diff"
alias kssh="kitty +kitten ssh"

# Network Manager
alias nmdown="nmcli c down"
alias nmup="nmcli c up"

# Arch
if [ "Arch" = "$(lsb_release -i | awk '/Arch/ {print $NF}')" ]; then
        alias paca="pacman -Qdtq | sudo pacman -Rn -"
        alias paci="pacman -Qq | fzf --multi --preview 'pacman -Qi {1}'"
fi

# Other
alias nvidia-settings="nvidia-settings --config=$XDG_CONFIG_HOME/nvidia/settings"
alias tree="tree -C"
alias wget="wget --hsts-file=$XDG_DATA_HOME/wget-hsts"
alias stow="stow -v --no-folding"

alias H="Hyprland"
alias KDE="/usr/lib/plasma-dbus-run-session-if-needed /usr/bin/startplasma-wayland"

alias sxp="searchsploit"
alias nc="nc -v"

alias arec="ffmpeg -f pulse -i default -ac 1 $(date -I).flac"
